*{
    font-family: Arial, Helvetica, sans-serif, hel;
}
h2{
   color:bisque;
}
#heading1{
    font-size: 25px;
    color
}
.heading1{
    background-color: aqua;
}
h1:first-child{

}
h1:last-child{

}
.text-t{
    color:blueviolet;

}